<turbo-stream action="replace" target="create-mails">
    <template>
        <p> {{ message }} </p>
        {{ form_start(form) }}
        {{ form_end(form) }}
        <a href="{{ path('app_dashboard') }}">Вернуться</a>
    </template>
</turbo-stream>


